{% extends "base.html" %}

{% block content %}
    <!-- Main content -->
    <main class="main-content">
        <header class="main-header">
            <h1>Dashboard</h1>
          </header>          

      <!-- Cards -->
      <section class="card-section">
        <a href="#" class="card blue">
          <div class="card-body">
            <i class="fas fa-folder card-icon"></i>
            <div class="card-title">Deck 1</div>
          </div>
          <div class="card-footer">
            <span class="arrow">›</span>
          </div>
        </a>

        <a href="#" class="card plum">
          <div class="card-body">
            <i class="fas fa-folder card-icon"></i>
            <div class="card-title">Deck 2</div>
          </div>
          <div class="card-footer">
            <span class="arrow">›</span>
          </div>
        </a>

        <a href="#" class="card pink">
          <div class="card-body">
            <i class="fas fa-folder card-icon"></i>
            <div class="card-title">Deck 3</div>
          </div>
          <div class="card-footer">
            <span class="arrow">›</span>
          </div>
        </a>

        <a href="#" class="card green">
          <div class="card-body">
            <i class="fas fa-folder card-icon"></i>
            <div class="card-title">Deck 4</div>
          </div>
          <div class="card-footer">
            <span class="arrow">›</span>
          </div>
        </a>
      </section>

      <!-- Tables -->
      <section class="table-section">
        <h2>Course Deck Example</h2>
        <table>
          <thead>
            <tr>
              <th>Deck Name</th>
              <th># of Cards</th>
              <th>Completion Rate</th>
              <th>Upload Date</th>
              <th>Last Studied</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Deck 1</td><td>25</td><td>80%</td><td>2023/04/10</td><td>2024/03/01</td></tr>
            <tr><td>Deck 2</td><td>40</td><td>90%</td><td>2023/02/15</td><td>2024/03/20</td></tr>
            <tr><td>Deck 3</td><td>30</td><td>70%</td><td>2023/01/22</td><td>2024/04/01</td></tr>
          </tbody>
        </table>
      </section>

      <section class="table-section">
        <h2>Course Deck Example</h2>
        <table>
          <thead>
            <tr>
              <th>Deck Name</th>
              <th># of Cards</th>
              <th>Completion Rate</th>
              <th>Upload Date</th>
              <th>Last Studied</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Deck 4</td><td>22</td><td>60%</td><td>2023/05/12</td><td>2024/03/30</td></tr>
            <tr><td>Deck 5</td><td>45</td><td>95%</td><td>2023/06/18</td><td>2024/04/20</td></tr>
            <tr><td>Deck 6</td><td>35</td><td>85%</td><td>2023/07/25</td><td>2024/04/25</td></tr>
          </tbody>
        </table>
      </section>
    </main>
  </div>
  {% endblock %}
