{% extends "base.html" %}

{% block content %}
    <!-- Main content -->
    <main class="main-content">
      <header class="main-header">
        <h1>Dashboard</h1>
      </header>

     <section class="card-section">
  <div class="card-grid">
    {% for i in top4 %}
      <a href="{{ url_for('html.deckcont', id=i.id) }}"
         class="card
                {% if loop.index == 1 %}blue
                {% elif loop.index == 2 %}plum
                {% elif loop.index == 3 %}pink
                {% elif loop.index == 4 %}green
                {% endif %}">
        <div class="card-body">
          <i class="fas fa-folder card-icon"></i>
          <div class="card-title">{{ i.name }}</div>
        </div>
        <div class="card-footer">
          <span class="arrow">›</span>
        </div>
      </a>
    {% endfor %}

    {% for _ in range(4 - top4|length) %}
      <div class="card placeholder-card"></div>
    {% endfor %}
  </div>
</section>

      <!-- Tables -->
      <section class="table-section">
        <h2>Course Decks</h2>
        <table>
          <thead>
            <tr>
              <th>Deck Name</th>
              <th># of Cards</th>
              <th>Completion Rate</th>
              <th>Upload Date</th>
              <th>Last Studied</th>
            </tr>
          </thead>
          <tbody>
            {% for i in Deck %}
              <tr>
                <!-- <td><a href="{{ url_for('html.deckcont', id=i.id) }}">{{ i.name }}</a></td> -->
                <td><a href="{{ url_for('html.deckcont', id=i.id) }}">{{ i.name }}</a></td>
                <td>{{ i.total }}</td>
                <td>{{i.percent}}%</td>
                <td>{{i.upload_date.strftime('%Y-%m-%d')}}</td>
                <td>
                  {% if i.last_studied %}
                  {{ i.last_studied.strftime('%Y-%m-%d') }}
                {% else %}
                  None
                {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>

    
    </main>
  </div>
{% endblock %}
