{% extends "base.html" %}

{% block content %}
  <h1 class="term-set-title">Question and answers</h1>
  <div class="term-list">
    <div class="term-item">
      <div class="term">heyy</div>
      <div class="definition">Helloo</div>
    </div>
    <div class="term-item">
      <div class="term">sameer</div>
      <div class="definition">Who are you?</div>
    </div>
    <div class="term-item">
      <div class="term">123</div>
      <div class="definition">4567</div>
    </div>
    <div class="term-item">
      <div class="term">heyyyy</div>
      <div class="definition">hellooo</div>
    </div>
    <div class="term-item">
      <div class="term">bbb</div>
      <div class="definition">ccc</div>
    </div>
    <div class="term-item">
      <div class="term">ccc</div>
      <div class="definition">dddd</div>
    </div>
    <div class="term-item">
      <div class="term">ggg</div>
      <div class="definition">hhh</div>
    </div>
  </div>


{% endblock %}