{% extends "base.html" %}

{% block content %}
<div class="card-center-wrapper">

  <form method="POST" action="{{ url_for('html.next_testcard') }}">
    <button type="submit" class="next-button">Next Question</button>
  </form>
  
  <div class="flip-card" onclick="flipCard(this)">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h2>{{ question }}</h2>
      </div>
      <div class="flip-card-back">
        <h2>{{ answer }}</h2>
      </div>
    </div>
  </div>

  <form method="POST" action="{{ url_for('html.next_testcard') }}">
    <button type="submit" class="next-button">Next Question</button>
  </form>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
